body {
  background-color: black;
color: white;
}
h1 {
  font-size: 20;
}
p {
  font-size: 12;
color: green;
}
div {
  border: 2px red;
border-style: dotted;
width: 100px;
height: 100px;
}
ol  {
list-style: lower-alpha outside none;
}
ul  {
list-style: square outside none;
}