body {
    background-color: rgb(48, 15, 15);
    width: auto;
}
h1 {
    color: white;
    text-align: center;
    background-color: black;

}

.row {
    float: top;
    color: white;
    text-align: center;
    background-color: black;
    padding: 1%;
}
.col-sm-4 {
    border: 1px solid red;
}
.col-sm-6 {
    border: 1px solid red;

}